<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
<display-name>Proyecto STGI</display-name>
<description>Proyecto de curso STGI 6 en raya </description>

<servlet>
	<servlet-name>InicioSesionForm</servlet-name>
	<servlet-class>InicioSesionForm</servlet-class>
</servlet>



<servlet>
<servlet-name>Tabla</servlet-name>
<description> Tablero inicial </description>
<servlet-class>Tabla</servlet-class>
</servlet>

<servlet>
	<servlet-name>ponFicha</servlet-name>
	<servlet-class>ponFicha</servlet-class>
</servlet>

<servlet>
	<servlet-name>MenuPrincipal</servlet-name>
	<servlet-class>MenuPrincipal</servlet-class>
</servlet>

<servlet>
	<servlet-name>NuevaPartida</servlet-name>
	<servlet-class>NuevaPartida</servlet-class>
</servlet>

<servlet>
	<servlet-name>PartidaAleatoria</servlet-name>
	<servlet-class>PartidaAleatoria</servlet-class>
</servlet>

<servlet>
	<servlet-name>PartidaAmigos</servlet-name>
	<servlet-class>PartidaAmigos</servlet-class>
</servlet>

<servlet>
	<servlet-name>BuscaJugador</servlet-name>
	<servlet-class>BuscaJugador</servlet-class>
</servlet>

<servlet>
	<servlet-name>CheckInicioSesion</servlet-name>
	<servlet-class>CheckInicioSesion</servlet-class>
</servlet>

<servlet>
	<servlet-name>CreaPartida</servlet-name>
	<servlet-class>CreaPartida</servlet-class>
</servlet>

<servlet>
	<servlet-name>TestMovimiento</servlet-name>
	<servlet-class>TestMovimiento</servlet-class>
</servlet>

<servlet>
	<servlet-name>PrePartidaIniciada</servlet-name>
	<servlet-class>PrePartidaIniciada</servlet-class>
</servlet>

<servlet>
	<servlet-name>MisPartidas</servlet-name>
	<servlet-class>MisPartidas</servlet-class>
</servlet>


<servlet-mapping>
	<servlet-name>InicioSesionForm</servlet-name>
	<url-pattern>/iniciosesionform</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>CheckInicioSesion</servlet-name>
	<url-pattern>/iniciosesion</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>Tabla</servlet-name>
<url-pattern>/tabla</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>ponFicha</servlet-name>
	<url-pattern>/servlets/ponFicha</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>MenuPrincipal</servlet-name>
	<url-pattern>/menu</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>NuevaPartida</servlet-name>
	<url-pattern>/nueva</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>PartidaAleatoria</servlet-name>
	<url-pattern>/nueva/aleatoria</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>PartidaAmigos</servlet-name>
	<url-pattern>/amigos</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>BuscaJugador</servlet-name>
	<url-pattern>/busca</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>CreaPartida</servlet-name>
	<url-pattern>/nueva/crea</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>TestMovimiento</servlet-name>
	<url-pattern>/TestMovimiento</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>PrePartidaIniciada</servlet-name>
	<url-pattern>/prepartida</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>MisPartidas</servlet-name>
	<url-pattern>/listapartidas</url-pattern>
</servlet-mapping>






<session-config>
<session-timeout>30</session-timeout>
</session-config>
</web-app>
