.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

nav{
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}